@model StreetFighter.Web.Models.ListaDePersonagensModel

@{
    ViewBag.Title = "Lista De Personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conteudo-corpo">

    <a href="~/Cadastro">Cadastro de Personagem</a>

    <div class="informacoes">

        @using (Html.BeginForm("ListaDePersonagens", "StreetFighter", FormMethod.Get, new { @class = "form-horizontal" }))
        {
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-10">
                        @Html.TextBox("filtro", "", new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn">Filtrar</button>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <ul class="personagens">

                        @foreach (var personagem in Model.Personagens)
                        {
                            <li>@Html.ActionLink(personagem.Nome, "FichaTecnica/" + personagem.Id)</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
