
@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conteudo-corpo">
    <h2>Blanka</h2>

    <div class="informacoes blanka">
        <ul>
            <li><strong>Primeira aparição:</strong> Street Fighter II The World Warrior (1991)</li>
            <li><strong>Nascimento:</strong> 12 de fevereiro de 1966.</li>
            <li><strong>Altura:</strong> 192cm.</li>
            <li><strong>Peso:</strong> 96kg.</li>
            <li><strong>Medidas:</strong> B198, C120, Q172. </li>
            <li><strong>Tipo sanguíneo:</strong> B. </li>
            <li><strong>Habilidades especiais:</strong> Caçar, Eletricidade.</li>
            <li><strong>Gosta:</strong> Frutas tropicais, Pirarucu, Sua mãe.</li>
            <li><strong>Desgosta:</strong> Army ants (espécie de formiga). </li>
            <li><strong>Estilo de luta:</strong> Luta Selvagem autodidata (Army Ants) / Capoeira. </li>
            <li><strong>Origem:</strong> Brasil (lugar de nascença é provável como sendo Tailândia). </li>
            <li><strong>Uma fala de vitória:</strong> "Ver você em ação é uma piada!" </li>
            <li><strong>SSF2 nickname:</strong> "A selvagem criança da natureza". </li>
            <li><strong>SFA3 nickname:</strong> "A animal pessoa amazônica". </li>
            <li><strong>SF4 nickname:</strong> "Guerreiro da selva". </li>
            <li><strong>SFA3 stage:</strong> Ramificação do Rio Madeira - pantano, Brasil (ramificação do rio Madeira: talvez possa ser Mato Grosso, ou Tocantins?). </li>
            <li><strong>SF2 stage:</strong> Bacia do rio Amazonas (Brasil). </li>
            <li><strong>Golpes especiais famosos:</strong> Electric Thunder, Rolling Attack.</li>
        </ul>
    </div>
</div>

